<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DEMO</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>


    <div class="container justify-content-md-center">
  		<div class="row text-center">
  			<div class="col-md-4"></div>
  			<div class="col-md-4">
          <h1>DEMO k8s</h1>
          <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/loadtest">Loadtest</a><hr>
        </div>
  			<div class="col-md-4"></div>
  		</div>
			<div class="row">
        <div class="col-md-2"></div>

  			   <div class="col-md-8">
             <div class="table-responsive">
               <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">API HOST Name</th>
                    <th scope="col">Request Count</th>
                  </tr>
                </thead>
                <tbody>

                {%for c in hit_count%}
                  <tr>
                    <td>{{loop.index}}</td>
                    <td>{{c['hostname']}}</td>
                    <td>{{c['total_hits']}}</td>
                  </tr>
                {%endfor%}
                <tr style="background-color: lightgray;">
                  <th colspan="2" style="text-align:center">TOTAL</th>
                  <th>{{total}}</th>
                </tr>
                </tbody>
              </table>

            </div>
           </div>
           <div class="col-md-2"></div>
       </div>
      </div>
	</body>
</html>
